@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--clr-circuit: #2f323a;
		--clr-off: #555151;
		--clr-on: #cb4444;

		--integrated-circuits-width: 200px;
		--ics-min-width: 134px;
		--ornament-color: cyan;
	}
	body {
		@apply bg-neutral-800 font-bold text-neutral-50;
	}
	/* button {
		@apply mx-1 my-0.5 px-2 py-0.5 outline outline-1 outline-red-500;
	} */
}

@layer components {
	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
	}
}
