*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

#main-canvas {
  outline: solid red 1px;
  outline-offset: -1px;
  touch-action: none;
}

#root {
  /* width: 100vw; */
  /* overflow-x: hidden; */
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
